.app {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
    'header header header'
    'menu content content'
    'menu content content';
}

.header {
    grid-area: header;
    background-color: #ffa1cd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.header img {
    width: 50px;
}

.nav {
    grid-area: menu;
    background-color: green;
    color: white;
}

.nav a {
    color: white;
}

.content {
    grid-area: content;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aboutMe {
    display: flex;
}

.aboutMe img{
    width: 300px;
}